<div>
    <h2>FOOD ADDA SIGN-UP/OTP</h2>
    <p>Hi <%=OTP.name%>!</p>
    <br>
    <br>
    <p>Hi Your OTP(one time password) is <strong><%=OTP.OTP%></strong></p>
    <br>
    <br>
    <p>Thanks!</p>
    <footer style="color: rgb(175, 197, 216);">Don't reply on this Mail This is Auto Generated Mail</footer>
</div>