<link rel="stylesheet" href="/css/Sign_in_otp.css">
<div>
    <form action="/users/sign-in-otpvarification" method="POST">
        <input type="number" name="OTP" placeholder="Enter OTP" style="text-align: center;" required>
        <input type="email" name="email" id="email" value="<%=email%>" hidden>
        <input type="number" name="password" id="number" value="123" hidden>
        <input type="submit" value="submit">
    </form>    
    <form action="/users/sign-in_resend-Otp" method="post">
        <input type="submit" value="Resend OTP">
    </form>
</div>
