<div>
    <form action="/users/otp-varification" method="post">
    <input type="number" name="OTP" placeholder="Enter OTP" style="text-align: center;">
    <input type="submit" name="" id="">
    </form>
    <form action="/users/sign-up_resend-Otp" method="post">
        <input type="submit" name="" id="" value="Resend OTP" >
    </form>
</div>