<link rel="stylesheet" href="/css/Update_user_profile.css">
<div>
    <form action="/users/updatingUserProfile" method="post">
         Update Your profile:
        <input type="text" name="name" id="" value='<%=userName%>' placeholder="name">
        <input type="email" name="email" id="" value='<%=userEmail%>' placeholder="email">  
        <input type="submit" name="" id="">
    </form>
</div>
<div>
   <a href=""><button>Locate Me</button></a>
</div>