<div>
    <form action="/users/updatingUserProfile" method="post">
         Update Your profile:
        <input type="text" name="name" id="" placeholder='<%=userName%>' >
        <input type="email" name="email" id="" placeholder='<%=userEmail%>'>
        <input type="submit" name="" id="">
    </form>
</div>